<a href="https://colab.research.google.com/github/Siddhesh-07/Web_scraper/blob/main/Python_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Calculate the sum, difference, product, and quotient of two numbers.

In [ ]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
def add(num1,num2):
  res = num1 + num2
  print(res)

def sub(num1,num2):
  res = num2 - num1
  print(res)

def mul(num1,num2):
  res = num1 * num2
  print(res)

def div(num1,num2):
  res = num1 / num2
  print(res)

print('1. Addition')
print('2. Subtraction')
print('3. Multilication')
print('4. Division')
op = input('Select the Operation (1/2/3/4):')

if op == '1':
  add(num1,num2)

elif op == '2':
  sub(num1,num2)

elif op == '3':
  mul(num1,num2)

elif op == '4':
  div(num1,num2)

else:
  print("Enter valid choice")

Enter number 1: 16
Enter number 2: 4
1. Addition
2. Subtraction
3. Multilication
4. Division
Select the Operation (1/2/3/4):4
4.0

2.  Perform various assignment operations on a variable.

In [ ]:
a = 5
b = 2
c = a+b
c

7

In [ ]:
b += a
b

7

In [ ]:
b -= 1
b

1

In [ ]:
a *= 2
a

10

3. Compare two numbers and print the results.
4. Check conditions using logical operators.

In [ ]:
a = 10
b = 5

In [ ]:
if a > b:
  print(f'{a} is greater than {b}')

10 is greater than 5

In [ ]:
if b < a:
  print(f'{b} is smaller than {a}')

5 is smaller than 10

In [ ]:
if a != b:
  print(f'{a} and {b} are not equal')

10 and 5 are not equal

5. Check the identity of variables.

In [ ]:
num = 10
mystr = 'Hello World'

print("Id of num is: ",id(num))
print("Id of mystr is: ",id(mystr))

Id of num is:  139983286256144
Id of mystr is:  139982005864432

6.  Perform bitwise operations on any two integers.

In [ ]:
x = 5
y = 8
print("x & y =", x & y)

x & y = 0

In [ ]:
print("x | y =", x | y)

x | y = 13

7.  Use unary operators to change the sign of a number.

In [ ]:
print(-4)
print(-4.0)
print(-4j)

-4
-4.0
(-0-4j)

8.  Use the ternary operator to assign values based on conditions.

In [ ]:
# Python program to demonstrate nested ternary operator
a, b = 10, 20

print ("Both a and b are equal" if a == b else "a is greater than b"
		if a > b else "b is greater than a")

b is greater than a